<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">

    <title>{% block title %}RENTACAM{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="/fonts/font-awesome.min.css">
        <link rel="stylesheet" href="/fonts/ionicons.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700">
        <link rel="stylesheet" href="/css/Features-Boxed.css">
        <link rel="stylesheet" href="/css/Footer-Dark.css">
        <link rel="stylesheet" href="/css/Header-Blue--Sticky-Header--Smooth-Scroll.css">
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="stylesheet" href="/css/Team-Boxed.css">
    {% endblock %}
</head>
<body>

{% block flash_messages %}
    {% for message in app.flashes('notice') %}
        <div class="col-12 col-lg-6 col-xl-6 offset-xl-1">
            {{ message }}
        </div>
    {% endfor %}
{% endblock %}

{% block body %}
{% endblock %}
{% block footer %}
    <div class="footer-dark">
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-3 item">
                        <h3>Services</h3>
                        <ul>
                            <li><a href="#">Collaborer avec nous</a></li>
                            <li><a href="#">Cookies</a></li>
                            <li><a href="#">Mentions légales</a></li>
                            <li><a href="#">Se connecter</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-6 col-md-3 item">
                        <h3>A propos</h3>
                        <ul>
                            <li><a href="#">La société</a></li>
                            <li><a href="#">La team</a></li>
                            <li><a href="#">Nous rejoindre</a></li>
                        </ul>
                    </div>
                    <div class="col-md-6 item text">
                        <h3>RENTACAM</h3>
                        <p>Service de mise en relation de particuliers pour des fins de location de matériel cinématographique avec assurance.</p>
                    </div>
                    <div class="col item social"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-instagram"></i></a></div>
                </div>
                <p class="copyright">RENTACAM © 2019</p>
            </div>
        </footer>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="/js/jquery.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script src="/js/Header-Blue--Sticky-Header--Smooth-Scroll-1.js"></script>
    <script src="/js/Header-Blue--Sticky-Header--Smooth-Scroll.js"></script>
{% endblock %}
</body>
</html>