{% block footer %}
    <div class="footer-dark">
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-3 item">
                        <h3>Services</h3>
                        <ul>
                            <li><a href="#">Collaborer avec nous</a></li>
                            <li><a href="#">Cookies</a></li>
                            <li><a href="#">Mentions légales</a></li>
                            <li><a href="{{ path('account_login') }}">Se connecter</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-6 col-md-3 item">
                        <h3>A propos</h3>
                        <ul>
                            <li><a href="#">La société</a></li>
                            <li><a href="#">La team</a></li>
                            <li><a href="#">Nous rejoindre</a></li>
                        </ul>
                    </div>
                    <div class="col-md-6 item text">
                        <h3>RENTACAM</h3>
                        <p>Service de mise en relation de particuliers pour des fins de location de matériel cinématographique avec assurance.</p>
                    </div>
                    <div class="col item social"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-instagram"></i></a></div>
                </div>
                <p class="copyright">RENTACAM © 2020</p>
            </div>
        </footer>
    </div>
{% endblock %}